* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hoverText {
  cursor: pointer;
}

.hoverText:hover {
  color: #005de9;
  background-color: #f8f8f8;
}

.hoverTextOnly:hover {
  color: #005de9;
}

.dropdown-toggle-icon::after {
  display: none;
}

.dropdown-toggle {
  color: black !important;
}

.navbar-toggler {
  justify-self: end !important;
}

.mainHeader {
  font-family: "Akira Expanded";
  font-weight: 800;
  font-size: 70px;
}

.subheader {
  font-family: "akira Expanded";
  font-size: 800;
  font-size: 40px;
  color: #909090;
  text-align: center;
}

.headerImageContainer {
  width: 30%;
  height: 100%;
}

.headerContainer {
  width: 70%;
  height: 100%;
}

.mainContainer {
  height: calc(100vh - 105.75px);
}

.aboutContainer {
  width: 60%;
  background-color: #fff;
  margin-top: -60px;
  height: fit-content;
}

.card-container {
  width: 37%;
}

.aboutmuhamedImg {
  width: 100%;
  object-fit: cover;
}

.image-container {
  width: 50%;
}

.image-container>img {
  margin-top: -20%;
  width: 500px;
}

.text-container {
  width: 65%;
}

/* blue section */
.blue-section {
  background-color: #005de9;
  padding: 90px 50px;
}

.blue-section-text {
  width: 50%;
  padding: 0px 60px;
}

.blue-section-video {
  width: 40%;
}

.famous-card-container {
  width: 45%;
}

.famous-card {
  width: 80%;
  background-color: white;
  height: fit-content;
}

.famous-text-container {
  width: 55%;
}

.famous-text {
  width: 90%;
  margin-top: -50px;
}

.legacy-image-container {
  width: 50%;
}

.legacy-text-container {
  width: 50%;
}

.legacy-blue-section {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 60%;
  background-color: #005de9;
}

.professional-section {
  padding: 0px 50px;
  background-color: #f8f8f8;
  font-size: 20px;
}

.professional-text-wrapper {
  width: 60%
}

.professional-img-container {
  width: 40%;
}

.extraRow {
  display: none;
}

.extraImages {
  display: none;
}
/* media screens */

@media (max-width: 991px) {
  .mainHeader {
    font-size: 45px;
  }

  .subheader {
    font-size: 35px;
  }

  .headerImageContainer {
    width: 100%;
    height: 100%;
  }

  .headerContainer {
    width: 100%;
    height: 50%;
  }

  .mainContainer {
    height: calc((100vh - 105.75px) / 2);
  }

  .aboutContainer {
    width: 100%;
    margin-top: 0px;
  }

  .card-container {
    width: 100%;
  }

  .aboutmuhamedImg {
    height: 500px;
    width: 100%;
    object-fit: fill;
  }

  .image-container>img {
    width: 300px;
    margin-top: 0;
  }

  .text-container {
    width: 90%;
  }

  .blue-section {
    padding: 50px 20px;
  }

  .blue-section-text {
    width: 100%;
    padding: 25px;
  }

  .blue-section-video {
    width: 100%;
    height: 400px;
    text-align: center;
  }

  .famous-card-container {
    width: 100%;
  }

  .famous-text-container {
    width: 100%;
  }

  .famous-text {
    width: 100%;
    margin-top: 0;
  }

  .legacy-image-container {
    width: 100%;
  }

  .legacy-text-container {
    width: 100%;
  }

  .legacy-blue-section {
    position: relative;
    width: 100%;
    background-color: #005de9;
  }

  .professional-img-container {
    width: 100%;
  }

  .professional-text-wrapper {
    width: 100%;
  }
}

.second-card-container {
  background: #f8f8f8;
  padding: 50px;
  padding-bottom: 0;
  display: flex;
}

@media (max-width: 680px) {
  .second-card-container {
    display: block;
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .mainHeader {
    font-size: 30px;
  }

  .subheader {
    font-family: "akira Expanded";
    font-size: 800;
    font-size: 20px;
    color: #909090;
    text-align: center;
  }
}